body{
    background-color: wheat;
}
.ant1{
    width: 700px;
    height: 720px;
    background-color: bisque;
    position: absolute;
    left: 400px;
    border-radius: 30px;
    

}
.ant2{
    position: absolute;
    left: 250px;
    color: steelblue;
    opacity: 0.9;
}
.ifram1{
    position: absolute;
    top: 80px;
    left: 80px;
    height: 250px;
}
.kgf{
    position: absolute;
    left: 250px;
    top: 330px;
    opacity: 0.9;
    color: steelblue;
}
.kgf1{
    position: absolute;
    top: 430px;
    left: 80px;
    height: 250px;

}
footer{
    position: absolute;
    top: auto;
    left: 0;
    right: 0;
    text-align: center;
    margin-top: 800px;
    background-color: rgb(10, 9, 9);
    color: white;
}